<div class="school">
  <div class="pic flex-center">
    <div class="pic-block">
      <img src="/assets/images/photo2.jpg" alt="">
      <div class="other-details">
        <div class="pic-logo"></div>
        <div class="link"></div>
      </div>
    </div>
    
    
  </div>
  <div class="det"></div>
</div>
<div class="college">
  <div class="det"></div>
  <div class="pic flex-center">
    <div class="pic-block">
      <img src="/assets/images/photo2.jpg" alt="">
      <div class="other-details">
        <div class="pic-logo"></div>
        <div class="link"></div>
      </div>
    </div>
</div>
