<div class="school">
  <div class="pic flex-center">
    <div class="pic-block">
      <img src="/assets/images/school.jpg" alt="">
      <!-- <div class="other-details">
        <div class="pic-logo"></div>
        <div class="link"></div>
      </div> -->
    </div>
   </div>
  <div class="det flex-center">
    <h1>I have done my schooling in Asan Memorial Senior Secondary School</h1>
  </div>
</div>
<div class="college">
  <div class="det flex-center">
    <h1>I have done my College in Dr. M.G.R Educational And Research institute</h1>
  </div>
  <div class="pic flex-center">
    <div class="pic-block">
      <img src="/assets/images/college-pic.webp" alt="">
      <!-- <div class="other-details">
        <div class="pic-logo"></div>
        <div class="link"></div>
      </div> -->
    </div>
</div>
