.strengths{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: var(--bl-bor); */
    height: 800px;
}
.s-title p{
    margin-top: 20px;
    font-size: 34px ;
    text-decoration: underline 1px var(--gray);
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.s-blocks{
    margin-top: 40px;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    /* border: var(--bl-bor); */
    width: 1200px;
}
.s-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 460px;
    border-radius: 7px;
    margin-right: 10px;
    /* border: var(--bl-bor); */
    width: 400px;
    transition: box-shadow 0.2s;
}
.s-block p{
    font-size: 20px;
    animation: spin 4s infinite;
    transform: scale(1.1);

}
@keyframes spin{
    0%{
        transform: scale(1.1);
        /* transform: translate(0px,5px); */
     }
   50%{
        transform: scale(1.4) rotate(360deg) ;
        animation-delay: 2s;
    }
    /* 75%{
        transform: scale(1.1) rotate(270deg);
        /* transform: translate( 0px,10px); 
    } */
    100%{
        transform: scale(1.1);
        /* transform: translate( 0px,5px); */
    }
}
.s-block img{
    width: 280px;
}
.s-block:hover{
    box-shadow: 0px 0px 18px rgb(0 0 0 / 30%);
}