<div class="strengths">
    <div class="s-title">
        <p>これらは私の強みです</p>
        <p style="font-size: 18px;">These are my strengths</p>
    </div>
    <div class="s-blocks">
        <div class="s-block">
            <p>HTML5</p><br><br>
            <div class="s-block-picture">
                <img src="/assets/images/html.png" alt="">
            </div>
            
        </div>
        <div class="s-block">
            <p>CSS</p><br><br>
            <div class="s-block-picture">
                <img src="/assets/images/css.png" alt="">
            </div>
            
        </div>
        <div class="s-block">
            <p>ANGULAR</p><br><br>
            <div class="s-block-picture">
                <img src="/assets/images/Angular.png" alt="">
            </div>
            
        </div>
    </div>
</div>
